@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}
body * {
  font-family: "Poppins";
}

/* header */
header {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  max-width: 200px;
}
header h1 {
  margin: 0;
  font-size: 2em;
  padding-top: 25px;
  margin-left: 15px;
  color: #777;
  transform: rotate(2deg);
}

/* Task List */
.task-list {
  max-width: 640px;
  margin: 20px auto;
  animation: fade-down 0.5s;
}
.task-list p {
  margin-left: 40px;
}
.task {
  padding: 6px 20px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade-down 0.5s;
}
.task .task-check {
  display: flex;
  gap: 5px;
}
.task h3, .task .icons {
  display: inline-block;
}
.task .icons {
  text-align: right;
  display: flex;
  align-items: center;
}
.task .icon {
  height: 20px;
  width: 20px;
  fill: #bbbbbb;
  stroke: #bbbbbb;
  cursor: pointer;
  margin-left: 6px;
}
.task .active {
  fill: #ff005d;
  stroke: #ff005d;
}
.task .done {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: red;
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/* Nav */
.filter-nav {
  width: 640px;
  margin: 10px auto;
  margin-top: 40px;
  text-align: right;
}
.filter-nav button {
  display: inline-block;
  margin-left: 10px;
  background-color: #ffffff;
  border: 2px solid #555555;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 1em;
  cursor: pointer;
}
.filter-nav button.active {
  background-color: #ffd859;
}

/* Form */
.new-task-form {
  padding: 20px 0;
}
form {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}
form button {
  background-color: #ffd859;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}
form input {
  border: 0;
  padding: 10px;
  border-radius: 6px;
  color: #555555;
  font-size: 1em;
}
p {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: grid;
  gap: 10px;
}